@model IEnumerable<Koonlight.Models.TransactionList>

@{
    ViewBag.Title = "Index";
}

<h2>Transactions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @User.Identity.Name
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShipperID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShipperID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransactionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransactionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransactionID })
        </td>
    </tr>
}

</table>
